<div class="container ">
  <div class="card text-center shadow mb-4 bg-white rounded custom-card-width mt-5">
    <div class="card-header ">
       <% if article %>
          <strong>By <%= link_to article.user.username , user_path(article.user) %></strong>
          <%= link_to gravatar_for(@article.user), user_path(@article.user) %>
          <% if @article.categories.any? %>
          <%# So what this does is it tells Rales that, hey, go through each of the categories that this article is associated with  And display a partial for each of those categories.%>
            <div class="mt-2"> <%= render @article.categories %></div> 
          <% end %>
        <% else %>
          <strong>No author</strong>
        <% end %>
    </div>

    <div class="card-body">
      <h5 class="card-title"><%= article.title %></h5>
      <p class="card-text"><%= truncate(article.description, length: 100) %></p>
      <div class="btn-group">
       <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
        <%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-info me-2" %>
        <%= button_to "Delete", article, method: :delete, class: "btn btn-outline-danger me-2", data: { turbo: "false", confirm: "Are you sure to delete this article?" } %>
       <% end %>
        <%= link_to "Back to articles", articles_path, class: "btn btn-outline-secondary" %>
     </div>
    </div>

    <div class="card-footer text-muted">
      Created <%= time_ago_in_words(article.created_at) %>,
      edited <%= time_ago_in_words(article.updated_at) %>
    </div>
  </div>
</div>


