<div class="flickr_pagination">
  <%= will_paginate @articles, container: false %>
</div>

<div class="container mt-3">
  <% @articles.each do |article| %>
    <div class="card text-center shadow mb-4 bg-white rounded custom-card-width">

      <div class="card-header"> 
         <% if article.user %>
          <strong>By <%= link_to article.user.username , user_path(article.user) %></strong>
          <% if article.categories.any? %>
          <%# So what this does is it tells Rales that, hey, go through each of the categories that this article is associated with  And display a partial for each of those categories.%>
            <div class="mt-2"> <%= render article.categories %></div> 
          <% end %>
        <% else %>
          <strong>No author</strong>
        <% end %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= article.title %></h5>
        <p class="card-title"><%= article.description %></p>
        <div class="btn-group" role="group">
          <%= link_to "Show", article, class: "btn btn-primary me-2" %>
          <% if logged_in? && (article.user == current_user || current_user.admin?) %>
            <%= link_to "Edit", edit_article_path(article), class: "btn btn-secondary me-2" %>
            <%= link_to 'Delete', article, method: :delete, class: "btn btn-danger me-2", data: { "turbo-method": :delete, "turbo-confirm": "Are you sure to delete this article?" } %>
          <% end %>
        </div>
      </div>

      <div class="card-footer text-muted">
        Created <%= time_ago_in_words(article.created_at) %>,
        edited <%= time_ago_in_words(article.updated_at) %>
      </div>
    </div>
  <% end %>
</div>

<div class="flickr_pagination">
  <%= will_paginate @articles, container: false %>
</div>