<div class="container mt-2">
  <%= form_with(model: @recipe, class: "card w-50 mx-auto") do |form| %>
    <div class="card-body shadow rounded">
      <%= render 'shared/errors', obj: @recipe %>
      <div class="mb-3">
        <%= form.label :title, class: "form-label" %>
        <%= form.text_field :title, class: "form-control " %>
      </div>
      <div class="mb-3">
        <%= form.label :description, class: "form-label" %>
        <%= form.text_area :description, class: "form-control " %>
      </div>
       <div class="mb-3">
        <%= form.label :preparation_steps, class: "form-label" %>
        <%= form.text_area :preparation_steps, class: "form-control " %>
      </div>
      <div class="mb-3">
        <%= form.label :category, class: "form-label" %>
        <%= form.collection_select(:category_id, Category.all, :id, :name,
          { prompt: "Select your selection from the list below"},
          { multiple: false, size: 3, class: "form-select "}
        ) %>
      </div>
      <div class="text-center">
        <%= form.submit @recipe.id.present? ? "Update" : "Save", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
  
  <div class="mx-auto text-center mt-3 mb-4">
    <%= link_to 'Cancel and return to recipe listing' , recipes_path %>
  </div>
</div>
